<div id="<%= dom_id paciente %>">
  <div class="card">
    <strong style="font-size: 1rem">Nome:</strong>
    <%= paciente.nome %><br/><br/>

    <strong style="font-size: 1rem">Cpf:</strong>
    <%= paciente.cpf %><br/><br/>

    <strong style="font-size: 1rem">Email:</strong>
    <%= paciente.email %><br/><br/>

    <strong style="font-size: 1rem">Nascimento:</strong>
    <%= paciente.nascimento %><br/><br/>

    <strong style="font-size: 1rem">Endereço:</strong>
    <div class="card">
      <strong style="font-size: 1rem">Logradouro:</strong>
      <%= paciente.endereco.logradouro %><br/><br/>

      <strong style="font-size: 1rem">Bairro:</strong>
      <%= paciente.endereco.bairro %><br/><br/>

      <strong style="font-size: 1rem">Cidade:</strong>
      <%= paciente.endereco.cidade %><br/><br/>

      <strong style="font-size: 1rem">Cep:</strong>
      <%= paciente.endereco.cep %><br/><br/>

      <strong style="font-size: 1rem">Complemento:</strong>
      <%= paciente.endereco.complemento %><br/><br/>
    </div>
  </div>
</div>