<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div class="button-container">
  <span class="button">
    <%= link_to "Editar paciente", edit_paciente_path(@paciente) %>
  </span>
  <span class="button">
    <%= link_to "Voltar para pacientes", pacientes_path %>
  </span>
</div>

<hr>
<h2>
  Consultas
</h2>
<table>
  <tr>
    <th>Medico</th>
    <th>Data</th>
    <th>Horário</th>
  </tr>
  <% Consultum.where(paciente_id: @paciente.id).each do |consulta| %>
    <tr id="<%=consulta.id%>" class="consultumRow">
      <td>
        <%= Medico.find(consulta.medico_id).nome %>
      </td>
      <td>
        <%= consulta.data.strftime("%d/%m/%Y") %>
      </td>
      <td>
        <%= consulta.horario %>
      </td>
    </tr>
  <% end %>
</table>
