<div id="<%= dom_id consultum %>">
  <div class="card">
    <strong style="font-size: 1rem">Paciente:</strong>
    <%= Paciente.find(consultum.paciente_id).nome %><br/><br/>

    <strong style="font-size: 1rem">Medico:</strong>
    <%= Medico.find(consultum.medico_id).nome %><br/><br/>

    <strong style="font-size: 1rem">Data:</strong>
    <%= consultum.data.strftime("%d/%m/%Y") %><br/><br/>

    <strong style="font-size: 1rem">Horario:</strong>
    <%= consultum.horario %>
  </div>
</div>