<div id="<%= dom_id consultum %>">
  <p>
    <strong>Paciente:</strong>
    <%= Paciente.find(consultum.paciente_id).nome %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= Medico.find(consultum.medico_id).nome %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= consultum.data.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

</div>
