<div id="<%= dom_id consultum %>">
  <p>
    <strong>Pacientecpf:</strong>
    <%= consultum.pacienteCpf %>
  </p>

  <p>
    <strong>Medicocpf:</strong>
    <%= consultum.medicoCpf %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

</div>
