<div id="<%= dom_id medico %>">
  <div class="card">
    <strong style="font-size: 1rem">Nome:</strong>
    <%= medico.nome %><br/><br/>

    <strong style="font-size: 1rem">Cpf:</strong>
    <%= medico.cpf %><br/><br/>

    <strong style="font-size: 1rem">Email:</strong>
    <%= medico.email %><br/><br/>

    <strong style="font-size: 1rem">Especialidade:</strong>
    <%= medico.especialidade %><br/><br/>

    <strong style="font-size: 1rem">Crm:</strong>
    <%= medico.crm %>
  </div>
</div>
