<p style="color: green"><%= notice %></p>

<%= render @medico %>

<div class="button-container">
  <span class="button">
    <%= link_to "Editar medico", edit_medico_path(@medico) %>
  </span>
  <span class="button">
    <%= link_to "Voltar para medicos", medicos_path %>
  </span>
</div>

<hr>
<h2 style="margin-left: 1rem">
  Consultas
</h2>
<table>
  <tr>
    <th>Paciente</th>
    <th>Data</th>
    <th>Horário</th>
  </tr>
    <% Consultum.where(medico_id: @medico.id).each do |consulta| %>
      <tr>
        <td>
          <%= Paciente.find(consulta.paciente_id).nome %>
        </td>
        <td>
          <%= consulta.data.strftime("%d/%m/%Y") %>
        </td>
        <td>
          <%= consulta.horario %>
        </td>
      </tr>
    <% end %>
</table>
